{% extends "base.html.twig" %}

{% block body %}
    {% for article in newsapi %}
        <div class="article">
            <h2>{{ article['title'] }}</h2>
            <p>{{ article['publishedAt'] }} by {{ article['author'] }}</p>
            <img alt="{{ article['title'] }}" src="{{ article['urlToImage'] }}">
            <div class="description">{{ article['description'] }}</div>
            <a href="{{ article['url'] }}">See more</a>
        </div>
    {% endfor %}
    {% for article in rapidapi %}
        <div class="article">
            <h2>{{ article['title'] }}</h2>
            <p>{{ article['datePublished'] }}</p>
            <img style="width: 400px; height: 200px" alt="{{ article['title'] }}" src="">
            <div class="description">{{ article['description'] }}</div>
            <a href="{{ article['url'] }}">See more</a>
        </div>
    {% endfor %}
    {% for article in currentsapi %}
        <div class="article">
            <h2>{{ article['title'] }}</h2>
            <p>{{ article['published'] }} by {{ article['author'] }}</p>
            <img style="width: 400px; height: 200px" alt="{{ article['title'] }}" src="{{ article['image'] }}">
            <div class="description">{{ article['description'] }}</div>
            <a href="{{ article['url'] }}">See more</a>
        </div>
    {% endfor %}
{% endblock %}